.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}

.content {
  flex: 10;
  display: flex;
  flex-direction: row;
  column-gap: 4rem;
  padding: 10rem 0 0 0;
}

.introduction,
.graphic {
  display: inherit;
  align-items: flex-start;
}

.introduction {
  flex-direction: column;
  flex: 2;
}

.graphic {
  flex: 1;
}

.aboutMeBtn {
  margin-top: 2rem;
}

.extra {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
