.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: var(--navbar-height);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttons {
  display: flex;
  column-gap: 1rem;
}
