.content {
  display: grid;
  grid-template-columns: [col1] 25% [col2] 25% [col3] 25% [col4] 25% [col5];
  grid-template-rows: [top] 35vh [middle] 35vh [bottom];
}

.content > span {
  padding: 1rem;
}

.content > span:nth-child(1) {
  grid-area: top / col1 / middle / col3;
}

.content > span:nth-child(2) {
  grid-area: top / col3 / bottom / col5;
}

.content > span:nth-child(3) {
  grid-area: middle / col1 / bottom / col2;
}

.content > span:nth-child(4) {
  grid-area: middle / col2 / bottom / col3;
}
