.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: background-color 0.25s;
}

.container:hover {
  cursor: pointer;
  background-color: gray;
}
