.container {
  color: white;
  padding: 1rem;
  height: 100%;
  width: 100%;
  border-radius: 0.75rem;
  box-shadow: 2px 2px 32px var(--dulled-hex);
}

.container:hover {
  cursor: pointer;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem 0;
}
